<div class="posts">
    <form>
        <label>Title:</label>
        <input id="post-title" type="text">

        <label>Content:</label>
        <textarea id="post-body"></textarea>

        <button type="submit" class="btn" id="Search-Button">Submit</button>
    </form>

  {{#each posts}}
    <article class="card">
      <div>
        <h2>
          <a href="/post/{{id}}">{{title}}</a>
        </h2>
        <div>
          Posted by
          {{User.name}}
          on
          {{format_date createdAt}}
        </div>
      </div>
      <div class="card-body">
        {{body}}
      </div>
    </article>
  {{/each}}


</div>

<script src="/js/newPost.js"></script>